@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orb-color-1: #3490dc; /* Blue */
  --orb-color-2: #6574cd; /* Indigo */
  --orb-color-3: #9561e2; /* Purple */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Outer container styles */
.outer-container {
  cursor: pointer;
  padding: 4px 8px;
  min-height: 108px;
  min-width: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgb(253, 253, 253);
  border-radius: 18px;
  box-shadow: rgba(220, 224, 229, 0.565) 0px 0px 0px 1px,
    rgba(22, 32, 37, 0.12) 0px 4px 4px -2px;
  transform: none;
  transform-origin: 50% 50% 0px;
}

/* Absolute container */

/* Orb main container */
.orb {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 30%, #ec85ff 0%, #7331ff 70%);
  box-shadow: 0 4px 6px 0 rgba(166, 35, 248, 0.0),
    0 6px 11px 0 rgba(121, 19, 255, 0.5), inset 0 0 1px 0 rgba(255, 255, 255, 0.9),
    inset 0 1px 7px 0 #fda4fa;
  transform: none;
}

/* Keyframe Animations */
@keyframes rotate-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes sway {
  0% {
    transform: rotate(-5deg) scale(1);
  }
  50% {
    transform: rotate(5deg) scale(1.05);
  }
  100% {
    transform: rotate(-5deg) scale(1);
  }
}

/* Orb Layers */
.orb-inner-layer-1 {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle at 50% 90%, #85d2ff 0%, rgba(115, 49, 255, 0.0) 70%);
  animation: rotate-scale 20s linear infinite;
}

.orb-inner-layer-2 {
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background: radial-gradient(circle at 33% 12%, rgb(254, 245, 254) 0%, rgb(253, 109, 255) 26%, rgba(203, 56, 255, 0) 63%);
  filter: blur(2px);
  will-change: transform;
  transform: translateY(6.13614px) rotate(48.0631deg);
  animation: sway 12s ease-in-out infinite;
}

.orb-inner-layer-3 {
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-radius: 50%;
  background-image: radial-gradient(circle at 31% 12%, rgba(254, 254, 254, 0.0) 0%, rgba(254, 111, 255, 0.0) 31%, #7006fe 77%);
  filter: blur(1px);
  opacity: 0.6;
  animation: float 10s ease-in-out infinite;
}

.orb-inner-layer-4 {
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 24px;
  height: 48px;
  width: 48px;
  background: linear-gradient(-36deg, rgb(254, 245, 254) 12%, rgb(253, 109, 255) 36%, rgba(203, 56, 255, 0) 54%);
  will-change: transform, filter;
  transform: scale(1.06681);
  animation: rotate-scale 8s linear infinite;
}

.orb-inner-layer-5 {
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 12px;
  height: 48px;
  width: 48px;
  transform: scale(1.06681);
  background-image: linear-gradient(163deg, rgb(254, 245, 254) 0%, rgb(109, 229, 255) 19%, rgba(203, 56, 255, 0) 50%);
  will-change: transform, filter;
  animation: sway 6s ease-in-out infinite;
}

.orb-inner-layer-6 {
  opacity: 0.6;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 10%;
  height: 40%;
  width: 80%;
  background: rgb(198, 79, 247);
  filter: blur(4px);
  will-change: transform;
  transform: scaleX(0.995812);
  animation: float 8s ease-in-out infinite;
}

.orb-inner-layer-7 {
  position: absolute;
  background: rgba(112, 6, 254, 0.25);
  top: 0px;
  left: 0px;
  height: 50%;
  width: 50%;
  filter: blur(4px);
  will-change: transform;
  transform: rotate(78.0038deg);
  animation: rotate-scale 15s linear infinite;
}



.particle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 50%;
  animation: move var(--move-duration) ease-in-out var(--move-delay) infinite alternate,
             glow var(--glow-duration) ease-in-out var(--glow-delay) infinite alternate;
}

@keyframes move {
  from {
    transform: translate(0, 0) scale(0.5);
  }
  to {
    transform: var(--particle-transform);
  }
}

@keyframes glow {
  0%, 100% {
    opacity: 0.8;
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    opacity: 0.2;
    box-shadow: none;
  }
}
